<component name="ArtifactManager">
  <artifact type="war" name="SpringCode5_MVC1:war">
    <output-path>$PROJECT_DIR$/SpringCode5_MVC1/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringCode5_MVC1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringCode5_MVC1.war">
      <element id="artifact" artifact-name="SpringCode5_MVC1:war exploded" />
    </root>
  </artifact>
</component>